<div class="container card-container" id='up'>


  <div class="col-sm-4 lil-card-container" id='team'>

    <div class="card" >
      <header data-color='#000013'><h2>A PROPOS</h2></header>
      <div class="card-body">
        <ul>
          <li>
            <a id='christophe' >Christophe Protat
            <div class="christophe_hidden hidden">

              <p class="info">
                Architecte d’intérieur ENSAAMA
              </p>
              <p class='info'>
                1990 - Co-fondateur MENIBUS & ASSOCIÉ

              </p>
            </a>
            <p class='infos2'>
              <p>
                Agence spécialisée en architecture commerciale et </br>
                communication in store - 25 personnes.</br>
                Directeur général en charge de la création.</br>
                Créateur du concept de théâtralisation magasin avec Carrefour</br>
                Budgets : Carrefour France et Europe- 15 ans de partenariat</br>
                Campagne Anniversaire (35-36 ans) et campagnes de théâtralisation.</br>
                Concept Nationnal Electro-Photo-Ciné-Son, concept international Textile, concept Fleurs,</br>
                Polygone Or - Charte d'identité Groupe.</br>
                Gifi : concept marchand / concept magasin / théâtralisation</br>
                Total Europe : refonte boutique station.</br>
                Concept architectural Coté Sud.</br>
                Relifting graphique fait par Team Créatif</br>
                Adidas/Office Dépot /Le Bourget, Vanity Fair ,Disney.</br>
              </p>
              <p>
                2004 /2006 : TBWA\FULL DESIGN <br>
                Fusion de Ménibus & Associé et \Brand Company, les deux agences design
                du groupe \TBWA - 30 personnes
                Directeur de création Associé
                Budgets : Carrefour France et Europe, Nissan Europe, Nike, Levi's, Dim, Masterfood
              </p>
            </p>
          </div>
          </li>
          <li>
            <a id="alex">Alexandre Rodriguez</a>
            <div class="alex_hidden hidden">
            <p><p>Auguste Thouard & Associés</br>
                Infographiste : CAO / DAO / PAO : Assistance au marketing immobilier
                Responsable de saisie : Animation et formation d’une équipe de 4 personnes
                Responsable de production : Animation et formation d’une équipe de 8 personnes
              </p>
            <p>
              ARCHIMAGE</br>
              Responsable de création
              Budgets : Meunier BNP Parisbas, Insignia-Bourdais, Cogédim, Atisréal Auguste-Thouard, Jones Lang Lasalle,Catella, Dtz Jean-Thouard, Espace consultant,Hill & Associés, Capital & Continental, Pitch promotion.
            </p>
            <p>
              STRATUS <br>
              Chef de Projet conception et exécution
              Budgets : SNCF, Fauchon, LCL, Hammerson, Nexcity,
              Jean paul Gaultier, Parc des expos, Petit Bateau, Opéra Bastille & Garnier, Pathé.
            </p>

            <p>Forus CONCEPT<br>
            Designer
            Médaille d’argent concourt l’épine 2006 / prêt de l’Oséo-Anvar / sélection observer Design 2006
            Participation à la création d’un flacon multiple pivotant
            Domaines d’application : cosmétiques, l’hygiène et l’alimentaire
            Participation à la création d’un interrupteur a barrière optique
            </p>
</p>

</div>
          </li>
        </ul>

      </div>
    </div>
  </div>
  <div class="col-sm-4 lil-card-container" id='recompense'>
    <div class="card">
      <header data-color='#52C1BC'><h2>RECOMPENSES</h2></header>

      <div class="card-body">
        <p>
          <p>
            L’Institût Français du Design remet chaque année un Janus du Commerce  qui récompense les enseignes utilisant le design comme outil de réflexion
            et d’innovation pour humaniser l’acte de commerce et améliorer le confort du consommateur.</br>
          </p>
          <p>
            Le jury attache une grande importance au partenariat entre le commerçant et l’agence. Comme nous !
          </p>
        </p>

        <ul class='hidden-part'>
          <a href="projects/29">
            <li>
              <%= image_tag 'janus2010.png', style: "width:98px"  %>
            </li>
          </a>
          <a href="projects/38">
            <li>
              <%= image_tag 'janus2013.png' %>
            </li>
          </a>
        </ul>

      </div>


    </div>
  </div>
  <div class="col-sm-4 lil-card-container" id='conference'>
    <div class="card">
      <header data-color='#4D7282'><h2>CONFERENCES</h2></header>
      <div class="card-body">
        <div class="hidden-part">
          <iframe width="100%" height="400"
          src="http://www.youtube.com/embed/_ZmZQJ6BUUU?hd=1&rel=0&autohide=1&showinfo=0">
          </iframe>
          <ul class='video_selector'>
            <li data-url='_ZmZQJ6BUUU' class='activeVideo'><%= image_tag 'ifm.png' %></li>
            <li data-url='7C-Bicz1Rqw'><%= image_tag 'mpv.png' %></li>
            <li data-url='x_ZBSerUbUY'><%= image_tag 'siec.png' %></li>
          </ul>
        </div>

        <p>
          <p>
           Nous avons la chance d’être solicité par l’institut Français du Merchandising et l’institut Français du Design pour des conférences en France ou à l’étranger pour exprimer notre vision du commerce.
          </p> </br>
          <p>
            Partager le micro et notre passion avec des spécialistes compétents, rencontrer des nouvelles personnes sont des exercises que nous aimons.
          </p>
        </p>





      </div>

    </div>
  </div>
  <div class="col-sm-4 lil-card-container"  id='presse'>
    <div class="card">
      <header data-color='#ED588B'><h2>PRESSE</h2></header>

      <div class="card-body">
        <div class="hidden-part">
          <iframe width="100%" height="400"
          src="http://www.youtube.com/embed/g5AJ0sgXpjE?hd=1&rel=0&autohide=1&showinfo=0">
          </iframe>
          <ul class='menu'>
            <li><%= image_tag 'france2.png' %></li>
            <li><a href="<%= image_path "NDA_UNO.pdf" %>" download><%= image_tag 'nda.png' %></a></li>
            <li><a href="<%= image_path "ZEPROS-E.LECERC.pdf" %>" download><%= image_tag 'zepros.png' %></a></li>
            <li><a href="<%= image_path "NDA_E.LECERC.pdf" %>" download><%= image_tag 'nda.png' %></a></li>
          </ul>
        </div>
        <p>
          Il arrive que nous prenions la parole dans la presse pour parler tendances retail design dans un journal gratuit distribué à 70 000  ex.</br>

          Il arrive également que nous soyons interviewé au 20 heures.</br>

          Mais la plus part du temps, ce sont les projets de nos clients dont on parle.


        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-4 lil-card-container" id='about'>
    <div class="card">
      <header data-color='#90BF5D'><h2>BLOG</h2></header>
      <div class="card-body">
        <p>
          Nous sommes passionnés, avons la chance de voyager et visiter des magasins partout dans le monde et regarder les choses en complémentarité.</br>
          C’est la raison pour laquelle nous avons co-fondé ce blog avec Pascale Brousse, fondatrice de l’agence Trend sourcing et Frank Rosenthal,expert en marketing du commerce de FRC.
        </p>
        <div class='footer hidden-part'><a href="http://www.nouveaux-concepts.com/">www.nouveaux-concepts.com/</a>
        <%= image_tag 'newconcept.png' %></div>
      </div>
    </div>
  </div>


</div>